src/main/resources/paymentProcess.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://spring.io/guides/gs-producing-web-service"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="PaymentService"
                  targetNamespace="http://spring.io/guides/gs-producing-web-service">

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://spring.io/guides/gs-producing-web-service"
                        schemaLocation="paymentProcess.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetCostAmountByRequest">
        <wsdl:part name="costAmountRequest" element="tns:GetCostAmountByRequest"/>
    </wsdl:message>

    <wsdl:message name="GetCostAmountResponse">
        <wsdl:part name="costAmountResponse" element="tns:GetCostAmountResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPaymentRequest">
        <wsdl:part name="paymentRequest" element="tns:GetPaymentRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPaymentResponse">
        <wsdl:part name="paymentResponse" element="tns:GetPaymentResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPaymentStatusRequest">
        <wsdl:part name="paymentStatusRequest" element="tns:GetPaymentStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPaymentStatusResponse">
        <wsdl:part name="paymentStatusResponse" element="tns:GetPaymentStatusResponse"/>
    </wsdl:message>

    <wsdl:portType name="paymentProcessPortType">
        <wsdl:operation name="GetCostAmount">
            <wsdl:input message="tns:GetCostAmountByRequest"/>
            <wsdl:output message="tns:GetCostAmountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetPayment">
            <wsdl:input message="tns:GetPaymentRequest"/>
            <wsdl:output message="tns:GetPaymentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetPaymentStatus">
            <wsdl:input message="tns:GetPaymentStatusRequest"/>
            <wsdl:output message="tns:GetPaymentStatusResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="paymentSOAP" type="tns:paymentProcessPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetCostAmount">
            <soap:operation soapAction="http://spring.io/guides/gs-producing-web-service/GetCostAmount"/>
            <wsdl:input><soap:body use="literal"/> </wsdl:input>
            <wsdl:output><soap:body use="literal"/> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetPayment">
            <soap:operation soapAction="http://spring.io/guides/gs-producing-web-service/GetPayment"/>
            <wsdl:input><soap:body use="literal"/> </wsdl:input>
            <wsdl:output><soap:body use="literal"/> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetPaymentStatus">
            <soap:operation soapAction="http://spring.io/guides/gs-producing-web-service/GetPaymentStatus"/>
            <wsdl:input><soap:body use="literal"/> </wsdl:input>
            <wsdl:output><soap:body use="literal"/> </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PaymentService">
        <wsdl:port name="paymentProcessSOAP" binding="tns:paymentSOAP">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>